.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.countryPickerHeading {
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    margin-bottom: 1rem !important;
}
