.header {
    margin: 2rem 0 4rem 0;
}

.heading {
    text-align: center;
}

.heading img {
    width: 6rem;
    height: 6rem;
}

@media screen and (max-width: 1100px) {
    .heading {
        font-size: 5rem !important;
    }
    .heading img {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 900px) {
    .heading {
        font-size: 4rem !important;
    }
    .heading img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 3.8rem !important;
    }
    .heading img {
        width: 3.8rem;
        height: 3.8rem;
    }
}
